<%- include("partials/_header") %>
                    <a href="/" class="navbar-item h5 text-decoration-none me-4">Tasks</a>
                    <a href="/completed-tasks" class="navbar-item h5 text-decoration-none">Completed Tasks</a>
                  </div>
                  <i class="fa-regular fa-circle-check fa-2xl" alt="Check"></i>
                  <h2 class="my-4">Completed Task List</h2>
                </div>

                <table class="table text-white mb-0">
                  <thead>
                    <tr>
                      <th scope="col">Task</th>
                      <th scope="col">Priority</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i = 0; i < completedtask.length; i++) { %> 
                      <tr class="fw-normal">
                        <td class="align-middle">
                          <span><%= completedtask[i].task %></span>
                        </td>
                        <% if(completedtask[i].priority === "High Priority") { %> 
                          <td class="align-middle">
                            <h6 class="mb-0">
                              <span class="badge bg-danger"><%= completedtask[i].priority %> </span>
                            </h6>
                          </td>
                        <% } else if(completedtask[i].priority === "Low Priority") { %>
                          <td class="align-middle">
                            <h6 class="mb-0">
                              <span class="badge bg-warning"><%= completedtask[i].priority %> </span>
                            </h6>
                          </td>
                        <% } else {%>
                          <td class="align-middle">
                            <h6 class="mb-0">
                              <span class="badge bg-info"><%= completedtask[i].priority %> </span>
                            </h6>
                          </td>
                        <% } %> 
                        <td class="align-middle">
                          <form action="/completed-tasks-restore/<%= completedtask[i]._id %>" method="post">
                            <button class="btn" type="submit" data-mdb-toggle="tooltip" title="Restore">
                              <i class="fa-solid fa-rotate-left fa-lg text-success"></i>
                            </button>
                          </form>
                        </td>
                      </tr>
                    <% } %> 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
